<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>City Comparison - Totally Virtual!</title>
    <style>
        .flex-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-content: center;
            margin-left: 5px;
        }
        input[type=submit] {
            width: 20em;  height: 2em;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flex-container">
                {% for message in messages %}
                    <h2>{{ message }}</h2>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="flex-container">
        <div>
            <div style="text-align: center;"><h1>City 1</h1></div>
            <form method="POST">
                <input name="City 1">

        </div>
        <div>
            <div style="text-align: center;"><h1>City 2</h1></div>
            <form method="POST">
                <input name="City 2">

        </div>
    </div>
    <div class="flex-container">
        <form method="POST">
            <input type="submit" value="Compare cities!">
        </form>
    </div>
    <div class="flex-container">
        {% for city in defaultCities %}
            <div class="column">
                <div style="text-align: center;"><h1>{{ city.query }}</h1></div>
                <div style="text-align: center;"><p>Diagonal Size: {{ city.size }}km</p></div>
                <img src="{{ city.image }}" alt="City Overlay">
            </div>
        {% endfor %}
    </div>
    <div class="flex-container">
        <div class="column">
            <div style="text-align: center;"><h1>Both Overlays</h1></div>
            <img src="{{ overlayIm }}" alt="City Overlay">
        </div>
    </div>

</form>
</body>
</html>